<span
    class="bg-[#5569D0] dark:bg-white px-6 py-3 rounded-full shadow-md flex items-center justify-center gap-2 hover:cursor-pointer hover:bg-[#FF8D5C] dark:hover:bg-[#5569D0] dark:hover:text-white hover:scale-110  transition-transform duration-300 md:text-xl text-white dark:text-black"
>
    <slot />
</span>