<section class="w-full py-12 md:py-24 lg:py-32 flex" id="contact">
    <div class="container px-4 md:px-6 flex flex-col justify-center items-center">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none">Contact</h2>
      <div class="flex flex-col items-start space-y-6 md:space-y-12 mt-6">
        <div class="flex items-center">
          <p class="ml-4">Email: </p>
          <input
            class="ml-2 border-2 border-gray-300 p-2 rounded-md px-2"
            id="myInput"
            type="text"
            value="daniel.agudelo185@gmail.com"
          />
          <button class="ml-4 bg-[#5569D0] hover:bg-[#FF8D5C] hover:text-white text-white dark:text-black px-4 py-2 rounded-md">Copy</button>
        </div>
      </div>
    </div>
  </section>