<header class="w-full h-20 flex items-center justify-between md:px-16 z-10 sticky md:top-0 backdrop-blur-lg border-b-2 border-slate-950 dark:border-neutral-600">
    
    <div class="flex items-center">
        <img class="hidden md:block rounded-full size-12" src="../../assest/logoCurvo.svg" alt="Daniel Agudelo">
    </div>
    <nav class="flex-grow flex justify-center space-x-8 ">
        <a class="text-lg md:text-xl font-semibold text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200" href="#about">Inicio</a>
        <a class="text-lg md:text-xl font-semibold text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200" href="#skills">Skills</a>
        <a class="text-lg md:text-xl font-semibold text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200" href="#project">Proyectos</a>
        <a class="text-lg md:text-xl font-semibold text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200" href="#education">Educación</a>
    </nav>
</header>
